version: 2.1
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/surge.sh-test

    steps:

      - checkout

      - run:
          name: Install Dependencies
          command: npm install
        
      # run tests!
      - run: surge